<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HomePage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/" method="POST">
            <h1>Welcome to the Sign Language Detection System created by Slytherin Group!</h1><br>
            <h3>Choose preferred model.</h3>

            <label for="basic">Basic model &#8211 Batch Object Detection</label>
            <input type="submit" id="basic" name="basic" value="Choose"><br>
            <p></p>

            <label for="extra">Extra model &#8211 Real-Time Object Detection</label>
            <input type="submit" id="extra" name="extra" value="Choose"><br>
        </form>
    </body>
</html>