<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Home Page</title>
  </head>
  <body>
    
    <nav class="navbar navbar-light bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#" style="color: aliceblue;"> 
          Slytherin Group System 
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/S-Bahn-Logo.svg/256px-S-Bahn-Logo.svg.png" alt="" width="30" height="24">
        </a>
        </div>
    </nav>

        <form action="/" method="POST">
            <h1>Welcome to the Sign Language Detection System created by Slytherin Group!</h1><br>            
            <h3>Choose preferred model.</h3>

            <label for="basic">Batch Object Detection</label>
            <input type="submit" id="basic_button" name="basic_button" value="Choose"><br>
            <p></p>

            <label for="extra">Real-Time Object Detection</label>
            <input type="submit" id="extra_button" name="extra_button" value="Choose"><br>
            <p></p>

            <h3>Practice Your sign language!</h3>
            <label for="practice"> </label>
            <input type="submit" id="button" name="practice_button" value="Practice!"><br>
            <p></p>
        </form>

    </body>
</html>